.card-ttop {
    background-image: url(image/graduation.jpg);
    background-attachment: fixed;
    background-repeat: none;
    background-size: 100% 100%;
    height: 60vh;
}


.content-faculty .head h3{
    font-size: 2.7em;
}
.content-faculty .head>p{
    font-size: 1.4em;
}
.content-faculty .content{
    margin: 48px;
}



.card-ttop .content{
    margin: 48px;
}